#Baniere {
	width: 100%;
	background-position: left;
	margin:0 auto;
}

#Baniere a{
	font : 45px Avenir;
	color: #FFFFFF;
	text-decoration: none;
}

#Baniere img{
	width: 200px;
	margin : 10 10;
}

/*
#Onglets{
	list-style-type : none;
	width: 100%;
	background-color: #212121;
	background-position: center;
	margin:auto;
}

#Onglets li{
	display: inline-block;
}
*/
#MenuContent {
	width: auto;
	text-align:center;
	margin-top:15%;
}

#MenuContent table {
	border-collapse: separate;
	border-spacing: 20px;
	background-position: center;
	margin:0 auto;
}

#MenuContent td {
	width : 200px;
	text-align:center;
}


#Onglets a{
	font : 20px Avenir;
	color: #FFFFFF;
	text-decoration: none;
}

#Onglets li.item:hover
{
    background : #333;
}

.cadre {
	border-radius: 10px;
	background-color: #B10000;
	
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.cadre a {
	margin: 20px;
	font : 20px Avenir;
	color: #FFF;
	text-decoration: none;
}

.cadre a:hover {
	color: #FFF;
	text-decoration: none;
}


.cadre img {
	width: 100px;
}

.cadre:hover {
-webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, .75);
box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, .75);
}

/*
.content {
	background-position: center;
	width: 1024;
	margin:0 auto;
}

.text {
	margin-top: 10px;
	background-color: #E5E5E5;
	background-position: center;
}

.subcontent {
	margin : 10px;
	padding :10px;
}

.select {
	padding :10px;
}

.conex{
	width : 200px;
}
 
.usrmodif {
	width : 150px;
}

.buttonEdit{
	width : 100px;
}
*/

* {
	margin:0;
	padding:0;
}

p{
	font : 15px Avenir;
	color: #000;
	text-decoration: none;
}


header {
	background-color: #B10000;
	margin:0;
	padding:0;
}

/*
h1 {
	margin : 20px;
	font : 30px Avenir;
	color: #000;
	text-decoration: none;
}

h2 {
	margin : 20px;
	font : 25px Avenir;
	color: #000;
	text-decoration: none;
}
*/

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file], input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
