#Baniere {
	width: 100%;
	background-position: left;
	margin:0 auto;
}

#Baniere a{
	font : 45px Avenir;
	color: #FFFFFF;
	text-decoration: none;
}

#Baniere img{
	width: 200px;
	margin : 10 10;
}

#Onglets{
	list-style-type : none;
	width: 100%;
	background-color: #212121;
	background-position: center;
	margin:auto;
}

#Onglets li{
	display: inline-block;
}

#MenuContent2 {

	display:table; 
	height:auto; 
	overflow: hidden; 
	width: 100%; 
	background-color: #EBEBEB; 
	border:solid 1px black;
}

#SubMenu{
	display:table-cell; 
	vertical-align:middle; 
	width:100%; 
	margin:0 auto; 
	text-align:center;
}

#MenuContent {
    width: auto;
    text-align: center;
    margin-top: 15%;
}

#MenuContent table {
	background-position: center;
	margin:0 auto;
}

#MenuContent td {
	align:center;
	vertical-align:middle;
	align="center"; 
	margin:0 auto;
}

#deconex {
	float : right;
}

#Onglets a{
	margin-right: 20px;
	margin-left: 20px;
	font : 20px Avenir;
	color: #FFFFFF;
	text-decoration: none;
}

#Onglets li.item:hover
{
    background : #333;
}

.cadre {
	border-radius: 10px;
	background-color: #B10000;
}

.cadre a {
	font : 20px Avenir;
	color: #FFF;
	text-decoration: none;
}

.content {
	background-position: center;
	width: 1024;
	margin:0 auto;
}

.text {
	margin-top: 10px;
	background-color: #E5E5E5;
	background-position: center;
}

.subcontent {
	margin : 10px;
	padding :10px;
}

.select {
	padding :10px;
}

.conex{
	width : 200px;
}
 
.usrmodif {
	width : 150px;
}

.buttonEdit{
	width : 100px;
}

* {
	margin:0;
	padding:0;
}

p{
	font : 15px Avenir;
	color: #000;
	text-decoration: none;
}

header {
	background-color: #B10000;
	margin:0;
	padding:0;
}

img{
	max-width: 200px;
	height: auto;
}

h1 {
	margin : 20px;
	font : 30px Avenir;
	color: #000;
	text-decoration: none;
}

h2 {
	margin : 20px;
	font : 25px Avenir;
	color: #000;
	text-decoration: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file], input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
